body{
	margin: 0;
}
#top-menu{
	top: 0;
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 80px;
	background-image: url(images.jpg);
	box-shadow: 0 0 20px #fff;
	color: #fff;
}
#top-menu p{
	size: 200px;
	position: absolute;
	left: 42%;
	top:20px;
}
#letter{
	position: relative;
	width: 100%;
	height: 700px;
	left: 0;
	top: -20px;
	background-color: #080574;
	transition-duration: 4s;
	transition-property: transform;
	color: #fff;
}
#letter a{
	position: absolute;
	color: #fff;
	text-decoration: none;
	top:150px;
	left:45%;
}
#letter a:hover{
	text-decoration: underline;
	text-shadow: 0 0 20px #fff;
}
#bottom-menu{
	position: fixed;
	width: 100%;
	height: 80px;
	background-image: url(images.jpg);
	box-shadow: 0 0 20px #fff;
	bottom: 0px;	
}
#up-btn .arrow{
	background-color: #fff;
	width: 100%;
	height: 100%;
	-webkit-clip-path: polygon(
		0 25%,
		50% 0,
		100% 25%,
		66% 25%,
		66% 100%,
		33% 100%,
		33% 25%,
		0 25%
		);
}
#up-btn{
	position: absolute;
	top: 10px;
	right: 30px;
	height: 50px;
	width: 50px;
	border: solid #fff 5px;
	border-radius: 10px;
}